@import 'tailwindcss';

@theme {
  --color-terminal-green: #0ec50e;
  --color-terminal-dark: #080808;
  --font-terminal: 'VT323', monospace;
  --animate-cursor: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
